---
import LayoutDefault from '@unicorn/common/src/layouts/layout.astro'
---

<LayoutDefault>
  
  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      <header>
        <h1>
          What I Use 
        </h1>
      </header>
      <p>
          What I reach for when it's my choice.
      </p>

      <h3>Software</h3>
      <p>
        <ul>
          <li>item</li>
        </ul>
      </p>

      <h3>Tools</h3>
      <p>
        <ul>
          <li>item</li>
        </ul>
      </p>

      <h3>Backend</h3>
      <p>
        <ul>
          <li>item</li>
        </ul>
      </p>

      <h3>Infra</h3>
      <p>
        <ul>
          <li>item</li>
        </ul>
      </p>
      
      <h3>CI/CD</h3>
      <p>
        <ul>
          <li>item</li>
        </ul>
      </p>

      <h3>Frontend</h3>
      <p>
        <ul>
          <li>item</li>
        </ul>
      </p>
      
    </article>
  </section>
</LayoutDefault>
